<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:hasCode="false" android:label="NativeApp">
        <activity android:name="android.app.NativeActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="NativeApp" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
